@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700,800&display=swap');
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:0.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
}


html { 
	scroll-behavior: smooth; 
	height: 100%;
}

body {
	--primary: #161616;
	--secondary: #e43d64;
	--black: #000;
	--text-color: #fff;
	--section-gap: 10px;
	--element-gap: 10px;
	background-color: var(--primary);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	height: 100%;
}

body.loading {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.loading .loader {
	background-color: var(--black);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	left: 0;
	top: 0;
	opacity: 1;
	visibility: visible;
	overflow: hidden;
}

.loading .loader svg {
	display: block;
	opacity: 0;
}

.loader {
	opacity: 0;
	visibility: hidden;
	transition:  opacity .6s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.loader svg {
	display: none;
	position: absolute;
	max-width: 500px;
	min-width: 300px;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.icon {
	fill: var(--text-color);
	width: 20px;
	height: 20px;
}

.devicon {
	fill: #a7a7a7;
	width: 40px;
	height: 40px;
}

p { 
	line-height: 25px;
	font-size: 14px; 
	font-weight: 300;
}

p.info {
	display: inline-block;
	color: var(--black);
	background-color: var(--text-color);
	padding: 0 10px;
	margin: 0;
}

p.info ~ p.info { margin-top: 10px; } 

.att { display: none; }

ul.table {
	list-style: none;
	font-weight: 300;
	font-size: 14px;
	padding: 0;
}

ul.table::before, 
ul.table::after,
ul.table li::before {
	content: '';
}

ul.table::before {
	width: 3px;
	height: 100%;
	background: linear-gradient(180deg, var(--text-color), transparent 100%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

ul.table::after,
ul.table li::before {
	width:100%;
	height: 3px;
	background: linear-gradient(90deg, var(--text-color), transparent 100%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

/* #resume,
#work,
#contact {display: none;} */

.resume-view {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.resume-view.opened {
	visibility: visible;
	opacity: 1
}

.resume-view a {
	position: absolute;
	top: 20px;
	right: 30px;
}

.resume-mask {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	position: absolute;
	top: 0;
	left: 0;
}

.resume-view img {
	min-width: 310px;
	max-width: 400px;
	width: 100%;
}

@media only screen and (min-width: 750px) {
	main {
		width: 80vw;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1280px) {
	main {
		--marginTop: calc(85vh / -2);
		min-width: 1200px;
		max-width: 1300px;
		width: 85vw;
		height: 85vh;
		margin: 0 auto;
		top: 50%;
		margin-top: var(--marginTop);
		font-size: 16px;
	}

	p { 
		line-height: 25px;
		font-size: 16px; 
		font-weight: 300;
	}	
}

/*============================================================================================================================================
						Navigation
=============================================================================================================================================*/
nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 75px;
	height: 100%;
	box-shadow: 5px 0 10px rgba(0, 0, 0, .5);
	padding-top: 20px;
	z-index: 1;
}



nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 2px solid var(--text-color);
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

nav a + a { margin-top: var(--element-gap); }

nav a.current,
nav a:hover { background-color: var(--text-color); }
nav a.current svg,
nav a:hover svg { fill: var(--black); }
nav a::before {
	color: var(--black);
	background-color: #fff;
	text-transform: uppercase;
	padding: 5px;
	position: absolute;
	font-size: 12px;
	border-radius: 3px;
	left: 60px;
	box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .7);
	opacity: 0;
	transition: opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav a[data-section="home"]::before {
	content: 'home';
}

nav a[data-section="resume"]::before {
	content: 'resume';
}

nav a[data-section="work"]::before {
	content: 'work';
}

nav a[data-section="contact"]::before {
	content: 'contact';
}

nav a:focus::before,
nav a:hover::before {
	opacity: 1;
}

@media only screen and (min-width: 750px) {
	nav {
		height: auto;
		left: auto;
		padding: 20px 0;
		top: 20px;
		border-radius: 3px
	}
}

@media only screen and (min-width: 1280px) {
	nav {
		width: 450px;
		height: auto;
		display: flex;
		padding: 0;
		right: 0;
		box-shadow: none;
	}

	.att {
		position: fixed;
		border-radius: 3px;
		padding: 20px;
		top: 120px;
		right: 0;
		background-color: var(--primary);
		color: var(--text-color);
		box-shadow: 0 0 3px 2px rgba(0, 0, 0, .2);
		width: 350px;
		display: block;
	}

	.att h4,
	.att p { margin: 0; }

	.att h4 { 
		margin-bottom: 10px;
		text-decoration: underline 
	}

	.att p a {
		color: var(--secondary);
		font-weight: 400;
	}

	.att .socials { margin-top: 10px; }

	.att .socials a + a { margin-left: 10px; }
	.att .socials a:hover svg { fill: var(--secondary) }

	nav a {
		height: 50px;
		width: 50px;
	}

	nav a::before {
		color: var(--black);
		background-color: #fff;
		text-transform: uppercase;
		padding: 5px;
		position: absolute;
		font-size: 12px;
		top: -30px;
		left: auto;		
		border-radius: 3px;
		opacity: 0;
		transition: opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	nav a[data-section="home"]::before {
		content: 'home';
	}

	nav a[data-section="resume"]::before {
		content: 'resume';
	}

	nav a[data-section="work"]::before {
		content: 'work';
	}

	nav a[data-section="contact"]::before {
		content: 'contact';
	}

	nav a:focus::before,
	nav a:hover::before {
		opacity: 1;
	}

	nav a svg.icon {
		width: 20px;
		height: 20px;
	}

	nav a + a {
		margin-top: 0;
		margin-left: 10px;
	}

	nav a {
		margin: 0;
	}
}
/*=============================================================================================================================================
							Section
================================================================================================================================================*/
section {
	padding-left: 105px;
	padding-right: 20px;
	color: var(--text-color);
}

.section__title { 
	font-size: 28px;
	margin: 0;
	margin-top: 20px;
}

.section__title a {
	text-transform: uppercase;
	font-size: 14px;
	color: var(--secondary);
	display: block;
}

section + section {
	margin-top: 30px;
}


.section__title::before,
.subsection__title::before,
.sub-subsection__title::before {
	content: '';
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	background: linear-gradient(90deg, rgba(228, 62, 100, .6), transparent);
	position: absolute;
	left: 0;
	top: 5px;
	z-index: -1;
}

.subsection__title::before {
	width: 20px;
	height: 20px;
	background: linear-gradient(90deg, rgba(162, 62, 228, 0.6), transparent);
}

.sub-subsection__title::before {
	width: 15px;
	height: 15px;
	top: 3px;
	background: linear-gradient(90deg, rgba(62, 228, 173, 0.6), transparent);
}

.section__subtitle { font-size: 18px; }

.subsection {
	margin-top: 20px;
}

@media only screen and (min-width: 380px) {
	.section__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media only screen and (min-width: 1280px) {
	section {
		padding: 0;
		width: calc(100% - 450px);
		padding-right: 40px;
	}

	section + section { margin-top: 60px; }

	.subsection { margin-top: 30px; }

	.section__title { 
		font-size: 34px;
		margin-top: 0;
	}
	
	.section__subtitle { font-size: 24px; }
	.subsection__subtitle { font-size: 20px; }
}

/*===========================================================================================================================================
						Services
==============================================================================================================================================*/
.web_icon {
	width: 100px;
	height: 100px;
}
.service {
	border-radius: 3px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	margin-top: 30px;
}

.service + .service { margin-top: 10px; }

.card_title {
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 18px;
}

.about p.info { text-transform: uppercase; }
.about p.info ~ p.info { margin-top: 10px; } 

@media only screen and (min-width: 750px) {
	.servs,
	.cards,
	.skills {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 30px;
		margin-top: 30px;
	}

	.service,
	.service + .service {
		margin: 0
	}
}

/*============================================================================================================================================
						Fun Facts
==============================================================================================================================================*/

.fact ul li {
	display: flex;
	align-items: center;
	padding: 10px;
}

.fact ul li .fact-icon{
	width: 25px;
	height: 25px;
	margin: 0 10px;
	fill: var(--text-color)
}

/*===========================================================================================================================================
						Resume
==============================================================================================================================================*/
.card {
	border-radius: 3px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	margin-top: 30px;	
}

.card + .card { margin-top: 10px; }
.card p { margin: 0; }

.card__header {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-top: 0;
	font-size: 18px;
}

.card__header::after {
	content: '';
	width: calc(100% + 40px);
	height: 3px;
	background: linear-gradient(to left, transparent, rgba(255, 255, 255, .5), transparent);
	border-radius: 100%;
	position: absolute;
	left: -20px;
	bottom: -10px;
}
.card__header .icon { margin-right: 10px; }

.card .date {
	font-weight: 600;
	color: var(--secondary);
	margin-bottom: 10px;
	text-transform: uppercase;
}

.card .date span{
	font-weight: 300;
	color: var(--text-color);
	display: block;
	font-size: 12px;
	text-transform: none;
}

.card .small {
	font-size: 12px;
	margin-bottom: 10px;
	color: #a7a7a7;
}

@media only screen and (min-width: 750px) {
	.cards {margin-top: 30px;}
	.card,
	.card + .card {
		margin: 0;
	}
}
/*==========================================================================================================================================
						Skills
=============================================================================================================================================*/
.icons {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	grid-gap: 20px 0
}

.skills .sub-subsection__title {
	font-size: 18px;
	margin-top: 0;
}

.professional {
	margin-top: 20px;
}

.prof__title {
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
}

.professional ul li {
	padding: 20px
}

.prog__header {
	display: flex;
	justify-content: space-between;
}

.prog__header span {
	font-weight: 600;
}

.prog__container {
	max-width: 450px;
	min-width: 30px;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background-color: #777;
	margin-top: 10px;
}

.prog {
	background-color: var(--secondary);
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

@media only screen and (min-width: 750px) {
	.professional {
		margin: 0;
	}
}

/*============================================================================================================================================
						Work
==============================================================================================================================================*/
.work {
	width: 100%;
	height: 300px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
	margin-top: 30px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 10px
}

.work + .work {margin-top: 10px;}

.work:hover .work__detail,
.work:focus .work__detail {
	opacity: 1;
}

.work.onhover .work__detail {
	opacity: 1;
}

.work img {
	width: calc(100% - 50px);
}

.work__title {
	position: absolute;
	bottom: 0;
	padding: 0 10px
}

.work__detail { 
	margin-top: auto; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, .85);
	padding: 20px;
	opacity: 0;
	text-align: center;
	transition: opacity .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.work__detail-title {
	font-size: 24px;
	margin: 0;
}

.work__detail p {
	margin: 5px 0;
}

.work__detail span {
	color: var(--secondary);
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
}

.buttons a {
	text-decoration: none;
	border: 2px solid #fff;
	background: transparent;
	color: var(--text-color);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 10px;
}

.buttons a:hover {
	background-color: #fff;
	color: var(--black)
}

@media only screen and (min-width: 750px) {
	.works {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		margin-top: 30px;
	}	

	.work,
	.work + .work { margin: 0; }
}

/* @media only screen and (min-width: 1280px) {
	.works {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		margin-top: 30px;
	}	

	.work,
	.work + .work { margin: 0; }
} */

/*===========================================================================================================================================
						Contact
==============================================================================================================================================*/
form {
	margin-top: 30px;
	padding-bottom: 20px;
}

label {
	display: block;
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
}

input { margin-bottom: 10px; }

input,
textarea {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 300;
	color: var(--text-color);
	font-size: 14px;
	width: 100%;
	resize: none;
	outline-color: var(--secondary)
}

form button {
	background-color: var(--text-color);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	padding: 5px 25px;
	border: 0;
	margin-top: 10px;
	border-radius: 3px;
	outline-color: var(--secondary)			
}

@media only screen and (min-width: 1280px) {
	label,
	input, 
	textarea { font-size: 16px; }
	
	.input + .input { margin-top: 20px; }
}