@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

:root {
    --background: #bc3737;
    --selection: #be7272;
    --link: #ffe851;
    --font: 'Source Sans Pro', sans-serif;
}

::selection {
    background-color: #a03131;
    color: #fff;
}

*,
*::after,
*::before {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background);
    color: #fff;
    font-family: var(--font);
    transition: background-color .2s linear,
                color .2s linear
}

a {
    color: var(--link);
}

a:hover {
    color: #baa93d;
}

/* Focusing area */

.focus {
    position: fixed;
    top: 50vh;
    transform: translateY(-40%);
    left: 10%;
}

h1 {
    font-size: 7vw;
    font-family: var(--font);
    margin: 0;
    font-weight: 900;
}

svg.logo {
    position: fixed;
    top: 10%;
    left: 10%;
}

/* About Section */

.about {
    position: absolute;
    left: 50%;
    top: 100vh;
    padding: 0 8% 1%
}

.about p {
    line-height: 1.8;
}

/* Socials */

.socials {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.socials a {
    font-size: 1em;
    color: var(--background);
    text-decoration: none;
    display: flex;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.socials a + a {
    margin-top: 1em;
}

/* Portfolio Section */
.work {
    margin-bottom: 1em;
}

.work__image {
    display: block;
    background-color: #ccc;
    text-decoration: none;
    background-size: cover;
    background-position: 50% 0;
    height: 180px;
}

.bg2 {
    background-image: url('../img/index.jpg');   
}

.bg1 {
    background-position: 50% 30%;
    background-image: url('../img/blockMatch.jpg');    
}

.work__content {
    color: var(--background);
    background-color: #fff;
    padding: 10px;
}
.work__content h4 {
    text-transform: uppercase;
}
.work__content p {
    line-height: 1.5;
}

.viewButton {
    border: 1px solid var(--background);
    display: inline-block;
    font-size: .9em;
    padding: 5px 20px; 
    color: var(--background);
    text-transform: uppercase;
    text-decoration: none; 
    margin-top: 1rem;
}

.viewButton:hover {
    background-color: var(--background);
    color: #fff
}

/* Toggle for theme */
.toggleContainer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 3%;
    left: 10%;
    width: 34.5%;
}

label {
    font-size: 1.4em
}

label i {
    pointer-events: none;
}

button.toggle {
    font-size: 1em;
    line-height: 1.5;
    background: transparent;
    border: 3px solid #fff;
    border-radius: .25em;
    font-weight: 700;
    margin-left: 10px;
    display: flex;
    padding: 3px;
}

[role="switch"][aria-checked="true"] :first-child,
[role="switch"][aria-checked="false"] :last-child {
    background: #fff;
    color: #bc3737;
}

button.toggle span {
    pointer-events: none;
    padding: 0 .5em;
    pointer-events: none;
    padding: 0.1em 0.6em;
    border-radius: .25em;
    line-height: 1em;
    color: #fff;
}

/* Light Theme */
body.light {
    background-color: white;
    color: #111;
    font-family: var(--font);
}

body.light [role="switch"][aria-checked="true"] :first-child,
body.light [role="switch"][aria-checked="false"] :last-child {
    background: #111;
    color: #fff;
}

body.light button {
    border-color: #111;
}

body.light button span {
    color: #111;
}

body.light .toggle::before {
    background-color: #fff;
}


body.light svg .cls-1 { fill:#111; }
body.light a { color: #4176d8 }
body.light a:hover {color: #2c5093;}

body.light .toggleContainer label i {
    color: #111;
}

body.light .socials a,
body.light .work {
    color: #111;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .6);
}

body.light form button {
    background-color: #4176d8;
    color: #fff;
    border: 1px solid  #4176d8;    
}

body.light form button.cancel {
    color: #4176d8;
    background: transparent;
}


body.light .work__content {
    color: #111;
}

body.light .viewButton {
    border: 1px solid #000; 
    color: #000;
}

body.light .viewButton:hover {
    background-color: #000;
    color: #fff
}

@media screen and (max-width: 820px) {

    .focus,
    svg.logo,
    .toggleContainer {
        left: 5%;
    }

    .focus {
        top: 55%;
    }

    .toggleContainer {
        top: -82%;
        width: 90%;
    }

    svg.logo {
        top: 21%;
    }

    h1 {
        font-size: 4em;
    }

    .about {
        left: 0;
        margin: 0 3% 1%;
        background-color: var(--background);
        box-shadow: 0 0 80px 60px var(--background)
    }

    body.light .about {
        background-color: #fff;
        box-shadow: 0 0 80px 60px #fff
    }

    .socials {
        position: relative;
        text-align: center;        
        margin: 45px 0 10px 15%;
        flex-direction: row; 
        justify-content: center;   
    }

    .socials a + a {
        margin-left: 1em;
        margin-top: 0;
    }

    .message h3 {
        font-size: 1.5em;
    }

    .message p {
        font-size: 1em;
    }
}

@media screen and (max-height: 360px) {
    h1 {
        font-size: 3.5em;
    }

    svg.logo,
    .toggleContainer,
    .focus {
        left: 50%;
        transform: translateX(-50%)
    }

    svg.logo {
        top: 24%;
    }

    .toggleContainer {
        top: -72%;
        display: flex;
        justify-content: center;   
    }

    .no {
        display: none;
    }
}
